cairosvg==2.8.2
gymnasium==1.1.1
ipython==9.2.0
matplotlib==3.10.8
numpy==2.4.1
pandas==3.0.0
Pillow==12.1.0
pydot==4.0.1
stable_baselines3==2.6.0
torch==2.7.0
tqdm==4.67.1
typing_extensions==4.15.0
chess==1.11.2